<link rel="stylesheet" href="/static/cabbook.css"/>
    <div class="top1">
        <div class="top2">
            <h2><a href="/index" style="text-decoration: none; color: black;">TAKSi</a></h2>
        </div>
        <div class="top3">
            <div class="button">Contact Us</div>
        </div>
    </div>  
    <div class="box">
        <div class="box1">
            <form method="post" class="box2" >
                <p style="font-size: 36px; text-align: center;"><b>Book Your Trip</b></p>
                <label for="pickup"  ><b>Pick up</b></label><br>
                    {{!-- <input type="text" id="pickup" name="pickup"  value ={{data.dataValues.PickUp}} ><br/> --}}
                    <input type="text" id="pickup" name="pickup"  value ="{{data.dataValues.PickUp}}"><br/>
                <label for="destination" > <b>Destination</b></label><br>
                    <input type="text" id="destination" name="destination"  value="{{data.dataValues.Destination}}"><br/>
                <label for="dot"><b>Date Of Travel </b></label>
                    <input type="date" id="dot" name="dot"  style="height:30px; width: 380px; padding:10px; background-color: #f1f1f1; border: none; border-radius: 10px;" value="{{data.dataValues.DateOfTravel}}">
                <label for="tot"><b>Time Of Travel </b></label>
                    <input type="time" id="dot" name="tot"  style="height:30px; width: 380px; padding:10px; background-color: #f1f1f1; border: none; border-radius: 10px;" value="{{data.dataValues.TimeOfTravel}}">
                <label for="passenger"><b>No. Of Passenger</b></label><br/>
                    <input type="text" id="passenger" name="passenger" value="{{data.dataValues.NoOfPassengers}}"><br/>
                <label for="mobile"><b>Mobile No. </b></label><br/>
                    <input type="text"  name="mobile" value="{{data.dataValues.MobileNo}}"><br/>
                    <input type="checkbox" id="agree" name="agree" value="1" style="width: 15px; height: 15px;"><b style="font-size: 20px;">Send OTP</b>
                <button type="submit" class="btn" style="margin-left:50px ;"><b>Book Cab</b></button>
            </form> 
        </div>
    </div>  


    
